<div class="static-page">
    <h1>Terms & Conditions</h1>

    <section class="terms-section">
        <h2>TERMS OF USE</h2>
        <p>Unless otherwise specified, the terms of use detailed in this section apply generally when using this
            website.</p>
        <p>Single or additional conditions of use or access may apply in specific scenarios and in such cases are
            additionally indicated within this document.</p>
        <p>By using this website, Users confirm to meet the following requirements.</p>

        <h3>Content on this Website</h3>
        <p>Unless where otherwise specified or clearly recognizable, all content available on this website is owned or
            provided by the Owner or its licensors.</p>
        <p>The Owner undertakes its utmost effort to ensure that the content provided on this website infringes no
            applicable legal provisions or third-party rights. However, it may not always be possible to achieve such a
            result.</p>

        <h3>Access to External Resources</h3>
        <p>Through this website, Users may have access to external resources provided by third parties. Users
            acknowledge and accept that the Owner has no control over such resources and is therefore not responsible
            for their content and availability.</p>

        <h3>Acceptable Use</h3>
        <p>This website and the service may only be used within the scope of what they are provided for, under these
            Terms and applicable law.</p>
        <p>Users are solely responsible for making sure that their use of this website and/or the Service violates no
            applicable law, regulations or third-party rights.</p>

        <h3>No Waiver</h3>
        <p>The Owner's failure to assert any right or provision under these Terms shall not constitute a waiver of any
            such right or provision. No waiver shall be considered a further or continuing waiver of such term or any
            other term.</p>

        <h3>Service Interruption</h3>
        <p>To ensure the best possible service level, the Owner reserves the right to interrupt the Service for
            maintenance, system updates or any other changes, informing the Users appropriately.</p>

        <h3>Intellectual Property Rights</h3>
        <p>Without prejudice to any more specific provision of these Terms, any intellectual property rights, such as
            copyrights, trademark rights, patent rights and design rights related to this website are the exclusive
            property of the Owner or its licensors and are subject to the protection granted by applicable laws or
            international treaties relating to intellectual property.</p>

        <h3>Changes to These Terms</h3>
        <p>The Owner reserves the right to amend or otherwise modify these Terms at any time. In such cases, the Owner
            will appropriately inform the User of these changes.</p>

        <h3>Contacts</h3>
        <p>All communications relating to the use of this website must be sent using the contact information stated in
            this document.</p>
    </section>
</div>